In [1]:
print("Hello World")

Hello World

In [3]:
print("Welcome to My Data Science Journey")

Welcome to My Data Science Journey

In [4]:
x = 10
y = 3.5
name = "Kailash"
is_active = True
print(x, y, name, is_active)
print(type(x), type(y), type(name), type(is_active))

10 3.5 Kailash True
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [5]:
a = 5
b = 3
print(a + b, a - b, a * b, a ** b, a / b, a % b, a // b)

8 2 15 125 1.6666666666666667 2 1

In [7]:
#convert between types
num_str = "100"
num_int = int(num_str)
num_float = float(num_str)


print(num_int, type(num_int))
print(num_float, type(num_float))

100 <class 'int'>
100.0 <class 'float'>

In [8]:
#comparison between boolean operators
x = 10
y = 20

print(x > y, x < y, x == y, x != y)
print((x < y) and (y > 15))
print((x > y) or (y > 15))

False True False True
True
True

In [20]:
first = int(input("enter first: "))
second = int(input("enter second: "))

print("sum =", first + second)

enter first:  10
enter second:  20

sum = 30

In [19]:
first = int(input("Enter first: "))
second = int(input("Enter second: "))

print("Sum =", first + second)

Enter first:  10
Enter second:  20

Sum = 30

In [23]:
first = int(input("Enter first number to add: "))
second = int(input("Second number to add: "))

print("sum =", first + second)

Enter first number to add:  15
Second number to add:  12

sum = 27

In [ ]:
first = int(input("First Number to Multiply: ")) 
second = int(input("Second Number to Multiply: "))

print("sum =", first * second)

In [31]:
#WAP to input side of a square and print its area
a = float(input("Enter Side of a Square: "))

print("Area of the Square =", a * a)

Enter Side of a Square:  5

Area of the Square = 25.0

In [33]:
#WAP to input side of a square and print its area method 2
a = float(input("Enter Side of a Square: "))

print("Area of the Square =", a ** 2)

Enter Side of a Square:  4

Area of the Square = 16.0

In [38]:
#WAP to input two floating point numbers and print their average
a = float(input("Enter First Number: "))
b = float(input("Enter Second Number: "))

print("Avg =", (a + b) / 2)

Enter First Number:  5
Enter Second Number:  7

Avg = 6.0

In [49]:
#WAP toinput 2 int numbers, a & b
#Print true if a is equal or greater than b, If not print false
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

print(a >= b)

Enter First Number:  7
Enter Second Number:  5

True