In [6]:
# Chap 5: LOOPS in Python
#Loops are used to repeat instructions.
# While Loops: While condition: # some work
#there are two types of Loops: 1. While loop 2. for loop
count = 1
while count <= 5 :
    print("Hello")  
    count +=1
i = 1
while i <= 3:
    print("Kailash")
    i+= 1

Hello
Hello
Hello
Hello
Hello
Kailash
Kailash
Kailash

In [7]:
i = 5
while i >= 1:
    print(i)
    i -= 1

print("Loop Ended")

5
4
3
2
1
Loop Ended

In [ ]:
i = 1
while i <= 3:
    print("Kailash Raut", i)
    i += 1

In [ ]:
i = 1
while i <= 5:
    print("Kailash Raut", 1)
    i += 1

In [9]:
i = 1
while i <= 4:
    print("Kailash", i)
    i += 1 
print("Loop Ended")

Kailash 1
Kailash 2
Kailash 3
Kailash 4
Loop Ended
ERROR! Session/line number was not unique in

In [10]:
i = 1
while i <= 5:
    print(i)
    i += 1
print("Loop Ended")

 database. History logging moved to new session 25
1
2
3
4
5
Loop Ended

In [ ]:
#Lets Practice while loops: Print numbers from 1 to 100

In [ ]:
count = 1
while count <= 5 :
    print("hello")
    count +=1
print(count)

In [ ]:
i = 1
while i <= 10:
    print("Kailash", i)
    i += 1

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1
print("Loop Ended")

In [1]:
i = 5
while i >= 1:
    print(i)
    i -= 1
print("Loop Ended")

5
4
3
2
1
Loop Ended

In [2]:
i = 1
while i <= 3:
    print("Hello", i)
    i += 1

Hello 1
Hello 2
Hello 3

In [4]:
i = 5
while i >= 1:
    print("Kailash", i)
    i -= 1
print("End of Loop")

Kailash 5
Kailash 4
Kailash 3
Kailash 2
Kailash 1
End of Loop

In [6]:
i = 1
while i <= 10:
    print(i)
    i += 1
print("End of Loop")

1
2
3
4
5
6
7
8
9
10
End of Loop

In [9]:
#print 1-10 in loop
i = 10
while i >= 1:
    print(i)
    i -= 1
print("End of Loop")

10
9
8
7
6
5
4
3
2
1
End of Loop

In [4]:
# print the multiplication table of  a number which is input by user

n = int(input("Enter Number: "))
i = 1
while i <= 10:
    print(n*i)
    i += 1

Enter Number:  7

7
14
21
28
35
42
49
56
63
70

In [9]:
#Print the elements of the following list using a loop:

nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
idx = 0
while idx <len(nums):
    print(nums[idx])
    idx += 1

1
4
9
16
25
36
49
64
81
100

In [12]:
heroes = ["iron-man", "Ant Man", "Hulk", "Captain America", "Batman"]
idx = 0
while idx < len(heroes):
    print(heroes[idx], idx)
    idx += 1

iron-man 0
Ant Man 1
Hulk 2
Captain America 3
Batman 4

In [2]:
# Search for a number x in this tuple using loop:

nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 36)
x = 36
i = 0
while i < len(nums):
    if (nums[i] == x):
        print("Found at idx", i)
    i += 1

Found at idx 5
Found at idx 10

In [1]:
# Break and Continue In Loops:

i = 1
while i <= 5:
    print(i)
    if(i == 3):
        break
    i += 1
print("End of Loop")

1
2
3
End of Loop

In [2]:
i = 1
while i <= 5:
    print(i)
    if(i == 3):
        break
    i += 1
print("End of Loop")

1
2
3
End of Loop

In [7]:
# Search for a number x in this tuple using loop:

nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 36)
x = 36
i = 0
while i < len(nums):
    if (nums[i] == x):
        print("Found at idx", i)
        break
    else:
        print("Finding...")
    i += 1
print("End of Loop")

Finding...
Finding...
Finding...
Finding...
Finding...
Found at idx 5
End of Loop

In [11]:
#Types of Loops: Continue:

i = 0
while i <= 5:
    if(i == 3):
        i += 1
        continue
    print(i)
    i += 1

0
1
2
4
5

In [13]:
i = 0
while i <= 10:
    if(i % 2 == 0):
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9

In [14]:
i = 0
while i <= 10:
    if(i % 2 != 0):
        i += 1
        continue
    print(i)
    i += 1

0
2
4
6
8
10

In [16]:
#For Loops are used for sequential traversal. For traversing list, string, tuples etc.

# for Loops  for el in list:  # Some work  
# list = [1, 2, 3]
#for el in list:
 #   print(el)

# Lets Practice: Print the elements of the following list using a  loop:

nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

for el in nums:
    print(el)

1
4
9
16
25
36
49
64
81
100

In [17]:
#Search for a number x in this tuple


nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 49]

x = 49
idx = 0

for el in nums:
    if(el == x):
        print("Number Found at idx", idx)
    idx += 1

Number Found at idx 6
Number Found at idx 10

In [19]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 49)

x = 49
idx = 0

for el in nums:
    if(el == x):
        print("Number Found at idx", idx)
        break
    idx += 1

Number Found at idx 6

In [30]:
# Range Function():
# Range fucntions returns a sequence of numbers, starting from 0 by default, and increments bu 1(be default), and stops before a specified number.

#range(start?, Stop, Step?)

#for el in range(5):
 #   print(el)
#for el in range(1,5):
 #   print(el)
#for el in range(1,5, 2):
 #   print(el)

seq = range(10)   #range(stop)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
seq = range(2, 10)   #range(start, stop)
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

In [32]:
seq = range(2, 10)   #range(start, stop, step)
for i in range(2, 10,2):
    print(i)

2
4
6
8

In [35]:
seq = range(2, 11)   #range(start, stop, step)
for i in range(2, 11,2):
    print(i)

2
4
6
8
10

In [36]:
# Lets practice: Print 1 to 100 using range

for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [37]:
for i in range(100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [40]:
# PRint the multiplication table by 10

n = int(input("Enter the Number: "))

for i in range(1, 11):
    print(n * i)

Enter the Number:  12

12
24
36
48
60
72
84
96
108
120

In [42]:
#PASS Statement; pass is a null statement that does. it is used a placeholder for a future code.

#for el in range(10):
 #   pass



for i in range(5):
    pass#empty

print("some usefull work")

some usefull work

In [43]:
for i in range(5):
    pass#empty
if i > 5:
    pass
    
print("some usefull work")

some usefull work

In [6]:
#WAP to find the sum of the  first n numbers. (using while)



n = int(input("Enter the number: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print("total sum =", sum)

Enter the number:  100

total sum = 5050

In [5]:
n = 5
sum = 0
for i in range(1, n + 1):
    sum += i
print("total sum =", sum)

total sum = 15

In [12]:
#WAP to find the factorial of first n numbers. (using for)

n = 5


fact = 1
for i in range(1, n + 1):
    fact *= i
print("factorial is =", fact)

factorial is = 120