In [1]:
#CH 6: Functions and Recursions inPython:
#function is a Block of statement that performs a specific task.

In [2]:
#def 
def calc_sum(a, b):           #function defination,
    return a + b              #(a,b) are known as parameters

sum = calc_sum(1, 3)          #fucntion call; arguments mention inside brackets
print(sum)

4

In [14]:
def print_hello():
    print("Hello World")


print_hello()

Hello World

In [16]:
def print_hello():
    print("Hello")
output = print_hello()
print(output)
print_hello()

Hello
None
Hello

In [26]:
# create a function to calculate avg of 3 numbers



def calc_avg(a, b, c):
    sum = a + b + c
    avg = sum / 3
    print(avg)
    return avg

calc_avg:(98, 97, 95)

In [27]:
def calc_avg(a, b, c):
    sum = a + b + c
    avg = sum / 3
    print(avg)
    return avg

calc_avg(98, 97, 95)

96.66666666666667

96.66666666666667

In [30]:
cities = ["Delhi", "Mumbai", "Banglore", "Chennai",]
heroes = ["Thor", "Iron-Man", "Captain America", "Shaktimaan",]

print(heroes[0], end=" ")
print(cities[1])

def print_len(list):
    print(len(list))

print(len(cities))
print(len(heroes))

Thor Mumbai
4
4

In [45]:
#print a list in single line
cities = ["Delhi", "Mumbai", "Banglore", "Chennai"]
heroes = ["Thor", "Iron-Man", "Captain America", "Shaktimaan"]

def print_len(list):
    print(len(list))

def print_list(list):
    for item in list:
        print(item, end=" ")
print_list(cities)
print_list(heroes)

Delhi Mumbai Banglore Chennai Thor Iron-Man Captain America Shaktimaan

In [43]:
cities = ["Delhi", "Mumbai", "Banglore", "Chennai"]
heroes = ["Thor", "Iron-Man", "Captain America", "Shaktimaan"]

del print  # this removes your overwritten variable, restoring built-in print


def print_list(lst):
    for item in lst:
        print(item, end=" ")
    print()  # ensures it moves to a new line after printing

print_list(cities)
print_list(heroes)

Delhi Mumbai Banglore Chennai
Thor Iron-Man Captain America Shaktimaan

In [44]:
cities = ["Delhi", "Mumbai", "Banglore", "Chennai"]
heroes = ["Thor", "Iron-Man", "Captain America", "Shaktimaan"]

def print_len(list):
    print(len(list))

def print_list(list):
    for item in list:
        print(item, end=" ")
    print()
    
print_list(cities)
print_list(heroes)

Delhi Mumbai Banglore Chennai
Thor Iron-Man Captain America Shaktimaan

In [47]:
#WAF to find the dactorial of n. (n is the Parameter)
n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

120

In [50]:
def calc_fact(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    print(fact)

calc_fact(12)

479001600

In [62]:
#WAF to convert USD to INR.

def converter(usd_val):
    inr_val = usd_val * 83
    print(usd_val, "USD =", inr_val, "INR")

converter(1000000)

1000000 USD = 83000000 INR

In [66]:
#WAF that takes an input, if the number is odd returns a string 'ODD' if the number i even, then returns 'EVEN'

n = int(input("Enter a Number: "))

def calc_eo(n):
    if n % 2 == 0:
        return "EVEN"
    else:
        return "ODD"

calc_eo(n)

Enter a Number:  3

'ODD'

In [77]:


n = int(input("Enter a Number: "))

def calc_eo(n):
    return "EVEN" if n % 2 == 0 else "ODD"

calc_eo(n)

Enter a Number:  4

'EVEN'

In [78]:
# Recursion #When a function calls itself repeatedly.

#prints n to 1 backwards
def show(n):
    if (n == 0):
        return
    print(n)
    show(n-1)

In [87]:
def calc_sum(n):
    if (n == 0):
        return 0
    return calc_sum(n-1) + n

sum = calc_sum(10)
print(sum)

55

In [91]:
#Write a recursive function to print all elements in a list. Hint: use list & index as parameters

def print_list(list, idx=0):
    if (idx == len(list)):
        return
    print(list, idx+1)
    
fruits = ["mango", "litchi", "apple", "banana"]

print_list(fruits)

['mango', 'litchi', 'apple', 'banana'] 1

In [90]:
def print_list(list, idx=0):
    if(idx == len(list)):
        return
    print(list[idx])
    print_list(list, idx + 1)
    
fruits = ["mango", "litchi", "apple", "banana"]

print_list(fruits)

mango
litchi
apple
banana

In [2]:

def print_list(list, idx = 0):
    if(idx == len(list)):
        return
    print(list[idx])
    print_list(list, idx + 1)


fruits = ["mango", "litchi", "apple", "banana"]
print_list(fruits)

mango
litchi
apple
banana