In [1]:
#variable

In [2]:
name = "Kailash"

In [3]:
age = 34

In [5]:
print(f"My Name is {name} and I am {age} years old.")

My Name is Kailash and I am 34 years old.

In [6]:
# Lists

In [7]:
numbers = [10, 20, 30, 40]

In [8]:
print(numbers[2]) #access

30

In [9]:
# Loops

In [11]:
for num in numbers:
    print(num * 2)

20
40
60
80

In [12]:
#Functions

In [15]:
def square(x):
    return x ** 2

In [16]:
print(square(5))

25

In [20]:
city = "Mumbai"
population = 20_000_000
density = 20_000
is_coastal = True

print(f"{city} has a population of {population} and density pf {density} per km².")

Mumbai has a population of 20000000 and density pf 20000 per km².

In [23]:
city = "Thane"
population = 30_000_000
density = 30_000
is_coastal = False

print(f"{city} has a population of {population} and desity of {density} per km².")

Thane has a population of 30000000 and desity of 30000 per km².

In [26]:
city = "Thane"
population = 3000000
density = 30000
is_coastal = False
print(f"One of the most well known cities of India is {city}, it has a population of {population} with a density of {density} and many people of the country believing it to be a coastal city is {is_coastal}.")

One of the most well known cities of India is Thane, it has a population of 3000000 with a density of 30000 and many people of the country believing it to be a coastal city is False.

In [30]:
city = "Thane"
population = 3_00_00_000
density = 30_000
is_coastal = False
print(f"{city} has a population of {population:,} and density of {density:,} per km².")

Thane has a population of 30,000,000 and density of 30,000 per km².

In [32]:
fruits = ["Mango", "Banana", "Apple", "Grapes", "Orange", "Papaya"]
print(f"full list:{fruits}")

full list:['Mango', 'Banana', 'Apple', 'Grapes', 'Orange', 'Papaya']

In [33]:
fruits = ["Mango", "Banana", "Apple", "Grapes", "Orange", "Papaya"]
print(f"full list:{fruits}")

full list:['Mango', 'Banana', 'Apple', 'Grapes', 'Orange', 'Papaya']

In [39]:
fruits = ["Mango", "Banana", "Apple", "Grapes", "Orange", "Papaya"]
print(f"First fruit:{fruits[0]}")       #index 0 → first element
print(f"Last fruit:{fruits[-1]}")              #index -1 → last element
print(f"Middle fruit:{fruits[len(fruits)//2]}") #len()//2 → middle index

First fruit:Mango
Last fruit:Papaya
Middle fruit:Grapes

In [40]:
fruits = ["Mango", "Banana", "Apple", "Grapes", "Orange", "Papaya"]
print(f"First Fruit:{fruits[0]}")                 #index 0 → first element
print(f"Last Fruit:{fruits[-1]}")                 #index -1 → last element
print(f"Middle Fruit:{fruits[len(fruits)//2]}")   #len()//2 → middle index

First Fruit:Mango
Last Fruit:Papaya
Middle Fruit:Grapes

In [41]:
fruits = ["Mango", "Banana", "Apple", "Grapes", "Orange", "Papaya"]
fruits.append("Pineapple")
print(f"After adding Pineapple:{fruits}")

After adding Pineapple:['Mango', 'Banana', 'Apple', 'Grapes', 'Orange', 'Papaya', 'Pineapple']

In [43]:
fruits = ["Mango", "Banana", "Apple", "Grapes", "Orange", "Papaya"]
fruits.append("Pineapple")
fruits.remove("Banana")
print(f"After adding Pineapple and removing Banana:{fruits}")

After adding Pineapple and removing Banana:['Mango', 'Apple', 'Grapes', 'Orange', 'Papaya', 'Pineapple']

In [44]:
fruits = ["Mango", "Banana", "Apple", "Grapes", "Orange", "Papaya"]
fruits.append("Pineapple")
fruits.remove("Banana")
fruits[1] = "Strawberry"      #replace element at index 1
print(f"List after adding Pineapple, removing Banana and replaceing Mango with Strawberry;{fruits}")

List after adding Pineapple, removing Banana and replaceing Mango with Strawberry;['Mango', 'Strawberry', 'Grapes', 'Orange', 'Papaya', 'Pineapple']

In [45]:
print(f"Sliced list (index 1 to 3): {fruits[1:4]}")  
# stops before index 4

Sliced list (index 1 to 3): ['Strawberry', 'Grapes', 'Orange']

In [46]:
print(f"sliced list (index 1 to 3):{fruits[1:4]}")
#stops before index 4

sliced list (index 1 to 3):['Strawberry', 'Grapes', 'Orange']

In [47]:
fruits = ["Mango", "Banana", "Apple", "Grapes", "Orange", "Papaya"]
for fruit in fruits:  #loop through each element
    print(fruit)

Mango
Banana
Apple
Grapes
Orange
Papaya

In [48]:
print(fruit)

Papaya

In [51]:
for fruit in fruits:
    print(fruit)

Mango
Banana
Apple
Grapes
Orange
Papaya

for fruit in fruits:  #loop through each element
    print(fruit)

In [52]:
for fruit in fruits:
    print(fruit)

Mango
Banana
Apple
Grapes
Orange
Papaya

In [53]:
for fruit in fruits:     #loops through each element
    print(fruit)

Mango
Banana
Apple
Grapes
Orange
Papaya

In [54]:
numbers = [2, 4, 6, 8, 10]
multiplied =[]    #Empty list to store results

for num in numbers:
    multiplied.append(num * 3)

print(multiplied)

[6, 12, 18, 24, 30]

In [55]:
numbers = [2, 4, 6, 8,10]
multiplied =[]   #Empty list to store results

for num in numbers:
    multiplied.append(num * 2)

    print(multiplied)

[4]
[4, 8]
[4, 8, 12]
[4, 8, 12, 16]
[4, 8, 12, 16, 20]

In [63]:
numbers = [2, 4, 6, 8,10]
multiplied =[]   #Empty list to store results

for num in numbers:
    multiplied.append(num * 2)
print(multiplied)

[4, 8, 12, 16, 20]

In [64]:
for i in range(1, 21):   #starts at 1, stop before 21
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [67]:
total = 0

for i in range (1, 101):
    total += i   #Add each number to the total
print("Sum of Numbers 1 to 100 is:", total)

Sum of Numbers 1 to 100 is: 5050

numbers = [2, 4, 6, 8, 10]
multiplied = [num * 3 for num in numbers]

print(multiplied)

In [68]:
numbers = [2, 4, 6, 8, 10]
multiplied = [num * 3 for num in numbers]

print(multiplied)

[6, 12, 18, 24, 30]

In [70]:
numbers = [2, 4, 6, 8, 10]
multiplied = [num * 3 for num in numbers]
print(multiplied)

[6, 12, 18, 24, 30]

In [71]:
fruits = ["Mango", "Apple", "Banana"]
upper_fruits = [fruits.upper() for fruits in fruits]
print(upper_fruits)

['MANGO', 'APPLE', 'BANANA']

In [72]:
squares = [n**2 for n in range (1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
numbers =[3, 6, 9, 12, 15, 18]   #Step 1: Given List of Numbers
result = []                      #Step 2: create an empty list to store results
for num in numbers:              #Step 3:loop through each number
    if num % 2 == 0:             #Step 4: Check if number is even
        result.append(num * 10)  #Step 5: Multiply even number by 10 and store it
print(result)                    #Step 6: Print the final result

[60, 120, 180]

In [80]:
numbers = [3, 6, 9, 12, 15, 18]
result = [num * 10 for num in numbers if num % 2 == 0]
print(result)

[60, 120, 180]

In [86]:
temps_c = (25, 32, 28, 35, 40, 22)
temps_f = []
for temp in temp_c:
    if temp > 30:
        f = (temp * 9/5) + 32
        temps_f.append(f)
print(temp_f)

[89.6, 95.0, 104.0]

In [85]:
temps_c = [25, 32, 28, 35, 40, 22]
temps_f = []
for temp in temps_c:
    if temp > 30:
        f = (temp * 9/5) + 32
        temp_f.append(f)
print(temp_f)

[89.6, 95.0, 104.0]

In [89]:
temps_c = [25, 32, 28, 35, 40, 22]
temp_f = [(temp * 9/5 + 32) for temp in temp_c if temp > 30]
print(temp_f)

[89.6, 95.0, 104.0]